<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:listing_roles) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_role), new_admin_role_path, { :remote => true, :data => { :update => 'new_role' }, :icon => 'plus', :id => 'new_role_link' } %>
  </li>
  <li>
    <%= button_link_to Spree.t(:permissions), admin_permissions_url, { icon: 'chevron-left' } %>
  </li>
<% end %>

<div id="new_role"></div>

<%= paginate @roles %>

<table class='index'>
  <colgroup>
    <col style="width: 70%">
    <col style="width: 15%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr>
      <th class="align-left"><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:users) %></th>
      <th data-hook="admin_roles_index_header_actions" class="actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= role.name %></td>
        <td class="align-center"><%= role.users.count %></td>
        <% if role.editable? %>
          <td class="actions">
            <%= link_to_edit role, :no_text => true, :class => 'edit' %>
            <% if role.users.count == 0 %>
              <%= link_to_delete(role, url: [:admin, role], no_text: true, remote: false) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
