<%= render :partial => 'spree/shared/sidebar' %>

<% content_for :page_title do %>
  <%= Spree.t(:listing_roles) %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:new_role), new_admin_role_path, :class => "btn-success", :icon => 'add' %>
<% end %>

<%= paginate @roles %>

<table class='table'>
  <thead>
    <tr>
      <th><%= Spree.t(:name) %></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="align-center"><%= role.name %></td>
        <% if role.editable? %>
          <td class="actions actions-2 text-right"><%= link_to_edit role, :no_text => true, :class => 'edit' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

