<div class="alert alert-info"><%= Spree.t(:permission_set_admin_permission_required) %></div>

<div data-hook="admin_permission_set_form_fields">
  <%= f.field_container :name, class: ['form-group'] do %>
    <%= f.label :name, Spree.t(:permission_set_name) %><span class="required"></span>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.error_message_on :name, class: 'error-message' %>
  <% end %>
  <%= f.field_container :description, class: ['form-group'] do %>
    <%= f.label :description, Spree.t(:permission_set_description) %>
    <%= f.text_field :description, class: 'form-control' %>
    <%= f.error_message_on :description, class: 'error-message' %>
  <% end %>
  <%= f.field_container :display_permission, class: ['form-group'] do %>
    <%= f.label :display_permission, Spree.t(:permission_set_display_permission) %>
    <%= f.check_box :display_permission %>
    <p class="help-block"><%= Spree.t(:permission_set_display_permission_help) %></p>
    <%= f.error_message_on :display_permission, class: 'error-message' %>
  <% end %>
  <%= f.field_container :permissions, class: ['form-group'] do %>
    <%- @permission_set.permissions.to_a %>
    <%= f.label :permissions, Spree.t(:permission_set_permissions) %>
    <div class="searchable-scrollable-list">
      <% @permissions.each do |permission| %>
        <div class="checkbox">
          <%= label_tag nil, nil, class: 'search-target' do %>
            <%= check_box_tag 'permission_set[permission_ids][]', permission.id, @permission_set.permissions.include?(permission), id: "spree_permission_set_permission_#{permission.id}" %>
            <%= permission.title.gsub('-', '_').titleize %><p class="help-block"><%= permission.description %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= f.error_message_on :permissions %>
  <% end %>
  <div data-hook="additional_permission_fields"></div>
</div>
