<% content_for :page_title do %>
  <%= link_to Spree.t(:permission_sets), admin_permission_sets_path %> /
  <%= Spree.t(:editing_resource, resource: Spree::PermissionSet.model_name.human) %>
<% end %>

<%= form_for [:admin, @permission_set], { html: { class: 'form-inline centered-floating-buttons' } } do |f| %>
  <div class="form-fields-group">
    <%= render partial: 'form', locals: { f: f } %>
  </div>
  <div class="fixed-bottom-button-group text-center">
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </div>
<% end %>
